#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font: caption;
}

ul {
  list-style-type: none;
}

.header {
  margin-top: 80px;
  margin-bottom: 80px;
}

.article-handler {
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.article-handler a {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  color: black !important;
}

.article-card {
  display: flex;
  max-width: 980px;
  margin: auto;
  align-items: center;
  margin-bottom: 30px;
}

.article-details {
  padding: 10px;
  width: 100%;
}

.article-images {
  width: 300px;
}

.comments-display-box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 40%;
  width: 40%;
}

.comment {
  font-size: small;
}

.comment h3 {
  font-size: medium;
}

.comment button {
  color: orange;
  margin-left: 20px;
}

.up {
  margin-left: 10px;
  margin-right: 10px;
}

.down {
  margin-left: 10px;
  margin-right: 10px;
}
